*{
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
    font-family: 'Gilroy', sans-serif;
}
html, body{
    height: 100%;
    width: 100%;
}
#main{
    height: 100%;
    width: 100%;
    background-color: rgb(0, 255, 255);
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-evenly;
}
.elem{
    height: 200px;
    width: 200px;
    background-color: crimson;
    border: 4px solid black;
}