* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: system-ui, sans-serif;
}
html,body{
    height: 100%;
    width: 100%;
}

#box{
    height: 200px;
    width: 200px;
    background-color: red;
    position: relative;
}

#sbox{
    height: 50px;
    width: 50px;
    background-color: yellow;
    position: absolute;
    left: 60%;
}